@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* width and height for the track */
::-webkit-scrollbar {
    width: 8px;
    height: 12px;
  }
  
  /* background of the track */
  ::-webkit-scrollbar-track {
    background: #222222;
  }
  
  /* color of the scroll thumb */
  ::-webkit-scrollbar-thumb {
    background-color: #a4eaff;
    border-radius: 6px;
  }
  
  /* set of shadows to create a 3D effect */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  /* color of the scrollbar buttons (arrows) */
  ::-webkit-scrollbar-button {
    background-color: #cccccc00;
    display: none
  }
  
  /* the two buttons (up and down) at the ends of the scrollbar */
  ::-webkit-scrollbar-button:start:decrement,
  ::-webkit-scrollbar-button:end:increment {
    display: none;
  }